.Banner {
    margin-bottom: 60px;
    background-image: url('./assets/bg-1.png');
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position-y: bottom;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.Banner-title {
    position: absolute;
    left: 10%;
    text-align: justify;
    color: black;
}

.Banner-image {
    width: 50%;
}
