.HomePage {
    height: fit-content;
}

.HomePage-home {
    margin-bottom: 60px;
    background-image: url('./assets/bg-1.png');
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position-y: bottom;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.HomePage-title {
    position: absolute;
    left: 10%;
    text-align: justify;
    color: black;
}

.HomePage-banner {
    width: 50%;
}

.HomePage-about {
    margin-bottom: 50px;
}

.HomePage-section-title {
    margin-top: 50px;
    padding-bottom: 20px;
}

.HomePage-skills span {
    font-size: small;
}

.HomePage-skills h5 {
    margin-bottom: 1rem;
    font-weight: bold;
}

.HomePage-skills .progress {
    height: 0.5rem !important;
    margin-bottom: 15px;
    /* margin-top: 5px; */
}

.HomePage-skills .progress-bar {
    background-color: #f4d03f;
}

.HomePage-list {
    color: #f4d03f;
}

.HomePage-list span {
    color: black;
    float: right;
}

.HomePage-coding {
    margin-top: 10px;

}

.HomePage-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.HomePage-icons img {
    padding: 10px;
}
